/***** DEFAULTS *****/
*{
	margin: 0px;
	padding: 0px;
}
html{
	height: 100%;
	box-sizing: border-box;
}
body{
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
}
/* HEADINGS DEFAULT */
h1, h2, h3, h4, h5, h6{
	color: #444;
	font-family: 'Averia Serif Libre', cursive;
}
a{
	text-decoration: none;
}
ul, ol{
	margin-left: 40px;
}
hr{
	margin: 10px 0px;
	opacity: .25;
}

/* FORM DEFAULTS */
form h2{
	margin: 25px auto;
	text-align: center;
	font-family: 'Averia Serif Libre', cursive;
}
form input{
	width: 100%;
	display: block;
	padding: 13px 13px;
	font-size: 1em;
	margin: 5px auto 10px;
	border-radius: 3px;
	box-sizing: border-box;
	background: transparent;
	border: 1px solid #3E606F;
}
form input:focus{
	outline: none;
}
/* BUTTON DEFAULT */
.btn{
	color: white;
	background: #4E6166;
	text-align: center;
	border: none;
	border-radius: 5px;
	display: block;
	letter-spacing: .1em;
	margin: 10px 0px;
	padding: 13px 20px;
	text-decoration: none;
}
.container{
	width: 80%;
	margin: 0px auto;
}
/* NAVBAR */
.navbar{
	margin: 0 auto;
	overflow: hidden;
	background-color: #3e606f;
	border-radius: 0px 0px 6px 6px;
}
.navbar ul{
	list-style-type: none;
	float: right;
}
.navbar ul li{
	float: left;
	font-family: 'Noto Serif', serif;
}
.navbar ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 20px 28px;
	text-decoration: none;
}
.navbar ul li a:hover{
	color: #B9E6F2;
	background-color: #334F5C;
}
/* LOGO */
.navbar .logo_div{
	float: left;
	padding-top: 5px;
	padding-left: 40px;
}
.navbar .logo_div h1{
	color: #B9E6F2;
	font-size: 3em;
	letter-spacing: 5px;
	font-weight: 100;
	font-family: 'Tangerine', cursive;
}

/* FOOTER */
.footer{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	color: white;
	background-color: #73707D;
	text-align: center;
	width: 80%;
	margin: 20px auto 0px;
	padding: 20px 0px;
}

/* BANNER: Welcome message */
.banner{
	display: flex;
	align-items: center;
	margin: 5px auto;
	min-height: 400px;
	color: white;
	border-radius: 5px;
	background-image: url('../images/banner.jpeg');
	background-size: 100% 100%;
}
.banner .welcome_msg{
	flex: 1;
	width: 45%;
	padding: 20px;
}
.banner .welcome_msg h1{
	color: #B9E6F2;
	margin: 25px 0px;
	font-size: 2.4em;
	font-family: 'Averia Serif Libre', cursive;
}
.banner .welcome_msg p{
	color: white;
	font-size: 1.5em;
	line-height: 1.8em;
	font-family: 'Noto Serif', serif;
}
.banner .welcome_msg p span{
	font-size: .81em;
	color: white;
}
.banner .welcome_msg a{
	width: 30%;
	margin: 20px 0px;
	padding: 12px 15px;
	font-size: 1.2em;
	text-decoration: none;
}
.banner .welcome_msg a:hover{
	background: #374447;
}

/* BANNER: Login Form */
.banner .login_div{
	flex: 1;
	width: 50%;
}
.banner .login_div form{
	margin-top: 40px;
}
.banner .login_div form h2{
	color: white;
	margin-bottom: 20px;
	font-family: 'Noto Serif', serif;
}
.banner .login_div form input{
	width: 60%;
	color: black;
	border: 1px solid white;
	margin: 10px auto;
	letter-spacing: 1.3px;
	font-family: 'Noto Serif', serif;
	background: white;
}
.banner .login_div form button{
	display: block;
	background: #006384;
	margin-left: 20%;
}